/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal {
    z-index: 1000;
    background: white;
    padding: 10px;
    margin: 10px;
}


/* Personality List */

·create-personality-area {
    
}

#create-personality-area .field {
    display: block;
    margin: 10px auto;
}

#create-personality-area .reflexions-area textarea {
    display: block;
    margin: 5px 0;
    margin-left: 10px;
    min-width: 600px;
}

#create-personality-area .reflexions-area {
    margin: 10px 0;
}

#create-personality-area .field textarea {
    display: block;
    min-width: 600px;
}

#create-personality-area .field.name input{
    width: 300px;
}

#create-personality-area .buttons {
    margin-top: 20px;
}

/* User Detail */
.user-detail .field {
    display: block;
    margin: 10px auto;
}

.user-detail .reflexions-area textarea {
    display: block;
    margin: 5px 0;
    margin-left: 10px;
    min-width: 600px;
}

.user-detail .field textarea {
    display: block;
    min-width: 600px;
}

.user-detail .field.name input{
    width: 300px;
}

.user-detail .buttons {
    margin-top: 20px;
}

/* Personality Detail */
.personality-detail .field {
    display: block;
    margin: 10px auto;
}

.personality-detail .reflexions-area textarea {
    display: block;
    margin: 5px 0;
    margin-left: 10px;
    min-width: 600px;
}

.personality-detail .reflexions-area {
    margin: 10px 0;
}

.personality-detail .field textarea {
    display: block;
    min-width: 600px;
}

.personality-detail .field.name input{
    width: 300px;
}

.personality-detail .buttons {
    margin-top: 20px;
}

